
	* {
	    margin: 0;
	}
	html, body {
	    height: 100%;
	}
	.page-wrap {
		/*background: blue;*/
		min-height: 100%;
		/* equal to footer height */
		margin-bottom: -110px;

	    overflow: hidden;
	    position: relative;
	}
	.page-wrap:after {
	  content: "";
	  display: block;
	}
	.site-footer, .page-wrap:after {
	  /* .push must be the same height as footer */
	    height: 110px; 
	}
	.site-footer {
	  background: #000000;
	  padding: 15px;
	}

	header{
		background: #662046;
		height: 110px;
		padding: 15px;

		z-index: 2;
	    position: relative;
	}

	body{
		background: #eeeeee;
	    margin-left: auto;
	    margin-right: auto;
	    font-size: 12px;
	}

	.ar .col{
		text-align: right;
	}

	h1{
		font-family: 'jotiabold';
	}

	h2{
		font-family: 'jotiabold';
		font-size: 26px;
	}

	h3{
		font-family: 'jotiabold';
	}

	#root{
		padding: 45px 0 45px 0;
		z-index: 2;
	    position: relative;
	}

	.wrap{
		margin-left:25px;
		margin-right:25px;
	}

	.infocontainer{
		background: rgba(0,0,0,0.7);
		color: #ffffff;
		font-family: 'jotialight';
		font-size: 20px;
    	margin-bottom: 20px;
    	padding: 15px;
	}

	.infowrap{
	    border-top: 3px solid white;
	    margin-top: 15px;
	}

	.bg{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; 
		z-index: 1;
		overflow: hidden;
	}

	footer{
		background: #000000;
		height: 110px;
		padding: 15px;

		z-index: 2;
	    position: relative;
	}

	.formcontainer{
		background: #812a52;
	}

	form{
	    padding: 11px 0 0 0;
	}

	label{
		display: block;
		color: #ffffff;
		font-size: 20px;
	}

	.pages{
		display: none;
	}

	input[type="text"]{
		width: 100%;
	    padding: 10px;
	    margin-bottom:20px;
	}

	input[type="submit"]{
		width: 100%;
		display: block;
		margin-bottom: 15px;
		margin-top: 15px;
		background: #dd001e;
		color: #ffffff;
	    border: 0;
	    padding: 10px;
		font-family: 'jotiabold';
		font-size: 20px;
		text-transform: uppercase;
		outline: none;
	}

	label.error{
		font-size: 12px;
		margin-top: -15px;
	}

	.selectionform{
		background: #ffffff;
		color: #000000;
		text-align: center;
	}
	.selectionform label{
		color: #000000;
		font-size: 24px;
		font-family: 'jotiabold';
	    margin-bottom: 35px;
	    margin-top: 35px;
	}
	.selectionform label span{
		color: #5e6a71;
		font-family: 'jotiaregular';
	}
	.selectionform input[type="submit"]{
		width: auto;
		margin-left: auto;
	    margin-right: auto;
	}

	p.selection{
		color: #662046;
		font-family: 'jotiabold';
	}


	select{		
		width: 100%;
	}
	.select2.select2-container--default{
		font-family: 'jotiaregular';
		font-size: 24px;
		text-align: left;
	}
	.select2.select2-container--default .select2-selection--single{
		border-radius: 0;
		height: 50px;
		border: 2px solid #5e6a71;
	}
	.select2.select2-container--default .select2-selection--single span{
		line-height:50px;
	}

	.unselected{
		opacity:0.8;
	}

	.swiper-container{
		width: 295px;
		height: 350px;

		/*background: gold;*/
	    padding-right: 40px;
	    padding-left: 40px;
	}
	.swiper-wrapper{
	}
	.swiper-slide{
		/*background: orange;*/
	}

	.arrows{
		background: url("../images/arrows.png") 0 0 no-repeat;
		height: 75px;
		width: 40px;
		margin-top: -40px;		
	}
	.swiper-button-prev{
		background-position: 0 0;
		left: 0;
	}
	.swiper-button-next{
		background-position: -140px 0;
		right: 0;
	}

	.grid-item {
	    width: 102px;
	    height: 60px;
		position: relative;
		overflow: hidden;
	}

	.grid-item img{
		width: 100%;
		height: auto;
		opacity:0.5;
		cursor: pointer;
	}

	.grid-item input[type=checkbox]{
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}

	.grid-item .textholder{
		font-family: 'jotiaregular';
		font-size: 11px;
		padding: 11px;
		color: #ffffff;
		text-align: left;

		background: rgba(0,0,0,0.4);
		width: 65%;
		bottom: 15px;
		left: 15px;
		position: absolute;
		z-index: 1;
		display: none;
	}
	.grid-item.selected .textholder{
		/*display: block;*/
	}

	.grid-item.selected .tickholder{
		background: url('../images/tick.png') 0 0 no-repeat;
		height: 35px;
		width: 35px;
		top: 8px;
		right: 8px;
		position: absolute;
		z-index: 1;
	}

	.grid-item.selected img{
		opacity: 1;
	}
	.grid-item:hover .textholder{
		/*display: block;*/
	}
	.grid-item:hover img{
		opacity: 1;
	}

	.omgblogo{
		position: relative;
		height: 50px;
	}

	.omgblogo img{
	    position: absolute;
	    bottom: 0;
	    right: 0;
	}

	.imgwrap{
		width: 100%;
		height: auto;
		overflow:hidden;
	}

	.imgwrap img{
		width: 100%;
		height: auto;
	}

	.white{
		background: white;
	}

	.marker{
		position: absolute;
	}

	.marker .markerpointer{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -50%;
	}

	.marker.small .markerpointer{
		width: 60%;
		margin-left: -30%;
	}

	.markerimage{
		border-radius: 100%;
		height: 150px;
		width: 150px;
		z-index: 2;
		top: 10px;
		left: 10px;
	}

	[data-type="curve"] {
	    position: absolute;
	    z-index: 3;
	    bottom: 24px;
	    left: -12px;
	}

	[data-type="curve"] text{
		font-size: 9px;
		display: none;
	}

	.marker.small [data-type="curve"]{
	    bottom: 6px;
	    left: 3px;
	}

	.marker.small [data-type="curve"] text{
		font-size: 8px;
	}

	.listingresults{
		background: #662044;
    	color: #ffffff;
    	font-family: 'jotiaregular';
    	font-size: 14px;
	}

	.listingresults h2{
	    border-top: 0;
	    margin: 0;
	    margin-bottom: 10px;
	    padding-top: 10px;
	}

	.listingresults h3{
		text-align: center;
	}

	.list{
		padding: 20px;
	}

	.list .row{
		margin-bottom: 40px;
		border-bottom: 3px solid #ffffff;
		padding-bottom: 20px;
	}

	.mapwrap{
		position: relative;
		height: 367px;
		overflow: hidden;
	}

	.mapholder{
	    text-align: center;
	}

	.pointer{
		/*background: orange;*/
		position: relative;
		width: 90px;
		height: 105px;
	}

	.coverimg{
	    height: 85px;
	    width: 85px;
	    bottom: 44px;
	    left: 3px;

		border-radius: 100%;
		z-index: 2;
		/*background: gold;*/
		overflow:hidden;
	    position: absolute;
	}

	.coverimg img {
		position: relative;
		width: 100%;
		height: auto;
	}

	.marker.small .coverimg {
	    width: 50px;
	    height: 50px;
	    bottom: 25px;
	    left: 20px;
	}

	.markerholder{
		/*border: 1px solid red;*/
		width: 294px;
		height: 367px;
		margin-left: -147px;
	    position: relative;
	    z-index: 1;
	    left: 50%;
	}

	.map {
	    /*border: 1px solid grey;*/
		width: 310px;
    	margin-left: -155px;
	    position: absolute;
	    left: 50%;
    	z-index: 0;
    	top:0;
	}

	.termsQAT,
	.termsBT{
		font-size: 12px;
	}

	#termsBT-error,
	#termsQAT-error{
		margin-left: 20px;
	}


	@media screen and (min-width: 768px) {

		h2{
			font-size: 34px;
		}

		.wrap{
			margin-left: 160px;
			margin-right: 160px;
		}
	 
		.swiper-container {
			width: 720px;
			height: 335px;
		    padding-right: 50px;
		    padding-left: 50px;
		}

		.grid-item{
			width: 200px;
			height: 105px;
		}
		.grid-item:hover .textholder{
			display: block;
		}

		.imgwrap{
			width: 100%;
			height: auto;
		}

		select{		
			width: 300px;
		}

		[data-type="curve"] text{
			display: block;
		}

		.map{
		    width: 769px;
		    margin-left: -384.5px;
		}

		.markerholder{
		    width: 769px;
		    height: 900px;
		    margin-left: -384.5px;
		}

		.mapwrap{
			height: 900px;    	
		}

		.marker.small .coverimg{
		    width: 88px;
		    height: 88px;
		    bottom: 50px;
		    left: 38px;
		}

		.coverimg{
			height: 150px;
			width: 150px;
		    left: 7px;
		    bottom: 82px;
		}

		.pointer{
			width: 163px;
			height: 240px;
		}

		/*
		.mapholder{
			margin-left:0;
		}*/

		.listingresults{
	    	font-size: 18px;
		}

		.listingresults h2{
		    border-top: 3px solid #ffffff;
		}

		.list{
			padding: 75px;
		}

		.list .row{
			border-bottom: 0;
			padding-bottom: 0;
		}

		[data-type="curve"]{
		    bottom: 55px;
		    left: -15px;
		}

		[data-type="curve"] text{
			font-size: 12px;
		}

		.marker.small [data-type="curve"]{
		    bottom: 27px;
		    left: 18px;
		}

		.marker.small [data-type="curve"] text{
			font-size: 12px;
		}

		.omgblogo{	    
		    height: 210px;
		}

		.grid-item.selected .textholder{
			display: block;
		}
	}

	@media screen and (min-width: 1400px) {
		body{
			width: 1200px;
		}
	}
